body {
    background: linear-gradient(to bottom right, #F4D03F 10%, #ff99cc 100%);
            }

.taxContainer1{
    background-color: #FDEBD0;
    width: 200px;
    height: 500px;
    margin: 0 auto;
    padding: 50px 80px 50px 80px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #FDEBD0, 1px -1px 5px #FDEBD0, -1px 1px 5px #FDEBD0, -1px -1px 5px#FDEBD0,
                -7px 7px 3px #FEF5E7, -7px -7px 3px #FEF5E7, 7px 7px 3px #FEF5E7, 7px -7px 3px #FEF5E7,
                -12px 12px 3px white, -12px -12px 3px white, 12px 12px 3px white, 12px -12px 3px white,
                15px 15px orange, 15px -15px orange, -15px 15px orange, -15px -15px orange;
    position: fixed;
    top: 16%;
    left: 17%;
}

.taxContainer2{
    background-color: #FDEBD0;
    width: 450px;
    height: 500px;
    margin: 0 auto;
    padding: 50px 80px 50px 80px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #FDEBD0, 1px -1px 5px #FDEBD0, -1px 1px 5px #FDEBD0, -1px -1px 5px#FDEBD0,
                -7px 7px 3px #FEF5E7, -7px -7px 3px #FEF5E7, 7px 7px 3px #FEF5E7, 7px -7px 3px #FEF5E7,
                -12px 12px 3px white, -12px -12px 3px white, 12px 12px 3px white, 12px -12px 3px white,
                15px 15px orange, 15px -15px orange, -15px 15px orange, -15px -15px orange;
    position: fixed;
    top: 16%;
    left: 45%;
}

.home{
    left: 5%;
    padding: 20px; 
    position: absolute;
    cursor: pointer
    }

.tax1{
    position: fixed;
    top: 5%;
    left:24%;
    font-size: 50px;
    font-weight: bold;
    color: #1ABC9C;
    text-shadow:-1px 1px #0B5345,-1px -1px #0B5345,1px 1px #0B5345, 1px -1px #0B5345, 2px 3px 3px #EC7063;
}

.tax2{
    position: fixed;
    top: 5%;
    left:60%;
    font-size: 50px;
    font-weight: bold;
    color: #1ABC9C;
    text-shadow: -1px 1px #0B5345,-1px -1px #0B5345,1px 1px #0B5345, 1px -1px #0B5345, 2px 3px 3px #EC7063;
}

.list1{
    cursor: pointer;
    list-style: none;
    color: white;
    padding: 60px 0px;
    margin-top: 0px;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    text-shadow: -1px 0 2px black,0 1px 2px black,1px 0 2px black,0 -1px 2px black;
}

.list1:hover{
    color: #EC7063;
}

.list{
    cursor: pointer;
    display: inline-block;
    padding: 0px 0px;
    width: 200px;
    text-align: center;
    list-style: none;
    font-size: 200%;
    font-weight: bold;
    color: white;
    text-shadow: -1px 0 2px black,0 1px 2px black,1px 0 2px black,0 -1px 2px black; 
}

.rightList{
    float: right;
}

.list:hover{
    color: #EC7063;
}

.teacher{
     position: fixed;
}

#teacher{top: 50%;left: 76%}

#box1{
    width: 50%;
    height: 65%;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 10px black;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    padding: 10px;
    text-align: center;
    display: none;
}

#box2{
    width: 50%;
    height: 50%;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 10px black;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    padding: 10px;
    text-align: center;
    display: none;
}

#box3{
    width: 50%;
    height: 50%;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 10px black;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    padding: 10px;
    text-align: center;
    display: none;
}

#box4{
    width: 50%;
    height: 50%;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 10px black;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    padding: 10px;
    text-align: center;
    display: none;
}
#box5{
    width: 50%;
    height: 50%;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 10px black;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    padding: 10px;
    text-align: center;
    display: none;
}

#box6{
    width: 50%;
    height: 50%;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 10px black;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    padding: 10px;
    text-align: center;
    display: none;
}

#box7{
    width: 50%;
    height: 50%;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 10px black;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    padding: 10px;
    text-align: center;
    display: none;
}

#box8{
    width: 50%;
    height: 50%;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 10px black;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    padding: 10px;
    text-align: center;
    display: none;
}

#box9{
    width: 50%;
    height: 50%;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 10px black;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    padding: 10px;
    text-align: center;
    display: none;
}

#box10{
    width: 50%;
    height: 50%;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 10px black;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    padding: 10px;
    text-align: center;
    display: none;
}

.close{
    font-size: 16px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    background: #F4D03F;
    border: 1px solid black;
    border-radius: 4px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.boxTitle{
    font-weight: bold;
    font-size: 200%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.boxExplain{
    font-size: 100%;
    font-weight: normal;
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);  
}