body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom right, #F4D03F 30%, #ff99cc 100%) 
}
.colorBtn{
    display: flex;
    justify-content: space-around;
    height: 30px;
    width: 300px;
    color: black;
    text-align: center;
    cursor: pointer;
    position: fixed;
    transition: all 0.1s;
    text-shadow: 0px -6px rgba(181, 181, 181, 0.68);
    font-family: 'Odibee Sans', cursive;
    font-size: 70px;
    font-weight: bold;
        }

        #a { left: 50%; top: 80%; }
        #b { left: 70%; top: 80%; }
        
.colorBtn:active{
            transform: translateY(8px);
            color: #E74C3C;
        }

.title{
    text-shadow: 0.3vmin 0.3vmin 0 #E79C10, -0.2vmin -0.2vmin 0 grey;
    line-height: 10px;
    font-weight: 900;
    font-size: 60;
    position: fixed;
    padding: 5px; 
   
           }
        
    #c { left: 3%; top: 10%; }
    #h { left: 33%; top: 21%;}

.zeikin{
    color: #e83535;
    font-weight: 100;
    font-size: 70;
    font-weight: bolder;
    position: fixed;   
        } 

    #g { left: 13%; top: 21%;}

.character{
        position: fixed;
        }

    #d { left: 10%; top: 30%; } 

.rightBtn {
  font-family: 'Kosugi Maru', sans-serif;
  border-radius: 30px;
  text-align: center;
  height: 110px;
  width: 600px;
  padding: 30px 15px 0px;
  cursor: pointer;
  border: none;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color:
  rgba(117, 187, 115, 0.74);
  color: black; 
  border: 2px solid rgba(117, 187, 115, 0.65);
  position: fixed;
  font-weight: 700;
}

.rightBtn:hover {
  background-color: #75BB73;
  color: #efefef;
}

.rightBtn:active{
    font-size: 39.5px;
}
        
         #e { left: 50%; top: 20%}
         #f { left: 50%; top: 50%}

        