body{
    padding: 0;
    margin: 0;
}
.colorBtn{
    display: flex;
    justify-content: space-around;
    height: 30px;
    width: 300px;
    color: black;
    text-align: center;
    cursor: pointer;
    position: relative;
    transition: all 0.1s;
    text-shadow: 0px -6px rgba(181, 181, 181, 0.68);
    font-family: 'Odibee Sans', cursive;
    font-size: 70px;
    font-weight: bold;
        }

        #a { left: 800px; top: -100px; }
        #b { left: 1130px; top: -129px; }
        
.colorBtn:active{
            transform: translateY(8px);
            color: #E74C3C;
        }

.title{
    text-shadow: 0.3vmin 0.3vmin 0 #E79C10, -0.2vmin -0.2vmin 0 grey;
    line-height: 10px;
    font-weight: 900;
    font-size: 60;
    position: relative;
    padding: 5px; 
   
           }
        
    #c { left: 40px; top: 60px; }
    #h { left: 500px; top: 110px;}

.zeikin{
    color: red;
    font-size: 80;
    position: relative;
    text-shadow: 0.2vmin 0.2vmin 0 white, -0.2vmin -0.2vmin 0 grey;        
        }        

    #g { left: 160px; top: 130px}

.character{
        position: relative;
        }

    #d { left: 130px; top: 170px; } 

.rightBtn {
  text-align: center;
  height: 110px;
  width: 600px;
  cursor: pointer;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: rgb(137, 203, 136); 
  color: black; 
  border: 2px solid rgba(117, 187, 115, 0.65);
  position: relative;
  font-weight: 700;
}

.rightBtn:hover {
  background-color: #75BB73;
  color: #efefef;
}

.rightBtn:active{
    font-size: 39.5px;
}
        
         #e { left: 770px; top: -425px}
         #f { left: 95px; top: -200px}

        